{% extends "base.html" %}

{% block title %}
  UniCond
{% endblock title %}UniCond


{% block content %}
      <div class="carousel carousel-slider center">
      <div class="carousel-fixed-item center">
        <a class="btn waves-effect teal">Cadastre-se agora!</a>
      </div>
      <div class="carousel-item blue-grey darken-4 teal-text" href="#one!">
        <h1 class="chamada-carousel">Gestão de Condomínios</h1>
        <h5 class="chamada-carousel-2 white-text">Verticais ou horizontais, comerciais ou residenciais. Financeiro,
          contábil e operacional
          para síndicos, administradoras e moradores.</h5>
      </div>
    </div>

    <!-- Cards -->
    <div class="container center-align">
      <div class="row">
        <div class="col s12 m12 l4">
          <div class="card-panel card-home grey lighten-4 darken-4-text">
            <i class="material-icons">add</i>
            <h5>Administradoras</h5>
            <span class="darken-4-text">Saiba como aumentar a capacidade e qualidade da sua empresa no atendimento dos
              clientes. Tenha em mãos o acesso a ferramentas de gestão financeira altamente produtivas com cálculos de
              rateios personalizáveis, programação para gerar cobranças, emissão de boletos e muitos outros recursos
              para auxiliar no dia a dia.
            </span>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="card-panel card-home grey lighten-4 darken-4-text">
           <i class="material-icons">add</i>
            <h5>Síndicos</h5>
            <span class="darken-4-text">
              Não perca tempo, veja como ter em suas mãos o controle total do condomínio, tenha acesso a diversos
              recursos para resolver os problemas, cumprir as obrigações e atender as necessidades básicas do dia a dia,
              além de contar com um financeiro completo.
            </span>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="card-panel card-home grey lighten-4 darken-4-text">
            <i class="material-icons">add</i>
            <h5>Moradores</h5>
            <span class="darken-4-text">
              Os condôminos e moradores não ficam de fora, também podem contar com diversos recursos para interagir com
              o seu condomínio e facilitar sua vida.
            </span>
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}    