{% extends "base.html" %}

{% block content %}
<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect teal">Faça um teste grátis</a>
    </div>
    <div class="carousel-item blue-grey darken-4 white-text" href="#one!">
        <h1 class="chamada-carousel">Planos UniCond</h1>
        <h5 class="chamada-carousel-2 white-text">No UniCond o seu plano é flexível e depende da quantidade de
            unidades do seu condomínio, o valor da mensalidade é calculado automaticamente a medida que as
            unidades são cadastradas.</h5>

    </div>
</div>

<!-- Cards -->
<div class="container center-align">
    <div class="row">
        <div class="box-card col s12 m12 l6">
            <div class="card-panel grey card-planos lighten-4 darken-4-text">
                <h5>Gestor</h5>
                <h6>por unidade/mês*</h6>
                <h1>R$ 3,00</h1>
                <ul>
                    <li><i class="material-icons">add</i> Custo mínimo de R$300,00</li>
                    <li><i class="material-icons">add</i> Sem Limite de Moradores</li>
                    <li><i class="material-icons">add</i> Suporte rápido por email</li>
                </ul>
            </div>
            <a class="btn waves-effect teal">Comece agora grátis!</a>
        </div>

        <div class="box-card col s12 m12 l6">
            <div class="card-panel grey card-planos lighten-4 darken-4-text">
                <h5>Planos Especiais</h5>
                <h6>fale conosco</h6>
                <h1>Consultar</h1>
                <ul>
                    <li><i class="material-icons">add</i> Multi Condomínios</li>
                    <li><i class="material-icons">add</i> condições especiais</li>
                    <li><i class="material-icons">add</i> contato@unicond.com</li>
                </ul>
            </div>
            <a class="btn waves-effect teal">deseja cadastrar-se?</a>
        </div>
    </div>

{% endblock content %}